
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: rgba(0,0,0,.7);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    top:15%;
    /* This makes the background linear gradiant, goes from left to right and from first color to second color*/
    background: linear-gradient(to right, #3281a1, white);
}

.content {
    text-align: center;
}

.button {
    margin-top:20px;
}

.container {
    margin: auto;
    width: 50vw;
}
footer {
    font-size: 0.7em;
    letter-spacing: normal;
    color: rgba(0,0,0,.7);
}